.signup {
  width: 80%;
  height: calc(100% - 100px - 100px);
  margin: 100px auto;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.block {
  display:block;
}

.signup-form {
  display:flex;
  align-items: center;
  flex-direction:column;
}

.hide {
  display:none;
}